* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(68deg, #000000, #3f0000);
    color: rgb(241, 230, 206);
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.slide {
    display: none;
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    max-width: 90%;
    margin-top: -60px;
    margin-left: -12px;
}

.photo {
    width: 180px; /* Match the dimensions of your images */
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow:hidden;
}


.photo:hover {
    transform: scale(1.1); /* Same scale effect as album */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Retain box-shadow on hover */
}

.nav {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button {
    background-color: #940a0a;
    font-family: 'Poppins', sans-serif;
    color: rgb(220, 220, 215);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.nav-button:hover {
    transform: scale(1.1);
}

.moving-heart {
    position: absolute;
    color: rgba(77, 40, 6, 0.9);
    font-size: 30px;
    z-index: -1;
    will-change: transform;
    animation: moveUp 10s linear forwards;
}

@keyframes moveUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-120vh);
    }
}

.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.album {
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.album:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #940a0aef;
    color: rgb(220, 220, 215);
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    border-top: 1px solid #391919;
}

.footer p {
    margin: 0;
}

